.todoAbout{
    margin-top: 100px;
    font-family: 'Assistant', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 700px) {
        height: auto;
        margin-top: 50px;
      }
    
    img{
        height: 600px;
        margin: 20px;
        border: 30px solid white;
        @media (max-width: 700px) {
            width: 100%;
            margin: 0;
          }
    }
    .foto{
        width: 500px;
        display: flex;
        justify-content: center;
        
        @media (max-width: 700px) {
            width: auto;
          }
        
    }
    .form{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border: 3px solid #ffffff;
        padding: 20px;
        background-color:#cccccc65 ;
        animation: fadeInLeft;
        animation-duration: 1s;
        @media (max-width: 600px) {
            width: auto;
            margin: 20px;
          }
    }
    .textoAbout{
        width: 500px;
        height: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 700px) {
            width: auto;
          }
          h3{
            margin:0
          }
          p{
            margin: 0;
            
          }
          .icons{
            font-weight: 600;
          }
          .paragraph{
            margin-bottom: 20px;
            .melgeller{
              font-weight: 600;
            }
          }
          
          .textoIdiomas{
            display: flex;
            align-items: center;
            h2{
              margin: 0;
            }
            height: 70px;
            #spin {
              color:black;
            }
            #spin:after {
              content:"";
              animation: spin 15s linear infinite;
            }
            @keyframes spin {
              0% { content:"Hola";}
              10% { content:"Hello";}
              20% { content:"你好";}
              30% { content:"Hallo";}
              40% { content:"Salut";}
              50% { content: "مرحبا";}
              60% { content: "Привет";}
              70% { content: "Olá";}
              80% { content: "안녕";}
              90% { content: "こんにちは";}
              100% { content: "Hola";}
            }

          }
    }
}

