.todoAbout{
    margin-top: 100px;
    font-family: 'Assistant', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 700px) {
        height: auto;
        margin-top: 50px;
      }
    
    img{
        width: 90%;
        margin: 20px;
        
        border: 3px solid white;
        @media (max-width: 700px) {
            width: 100%;
            margin: 0;
          }
    }
    .foto{
        width: 500px;
        @media (max-width: 700px) {
            width: auto;
          }
        
    }
    .form{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border: 3px solid #ffffff;
        
        padding: 20px;
        background-color:#cccccc65 ;
        animation: fadeInLeft;
        animation-duration: 1s;
        @media (max-width: 600px) {
            width: auto;
            margin: 20px;
          }
    }
    .textoAbout{
        width: 500px;
        margin-left: 20px;
        @media (max-width: 700px) {
            width: auto;
          }
    }
}

