.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 150px;
    
    .galeria2{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        @media (max-width: 600px) {
            width: 100%;
          }
        
        
    }
    .tarjeta{
        margin-top: 20px;
        animation: fadeInLeft;
        animation-duration: 1s;
        img{
            max-height: 300px;
            cursor: pointer;
            @media (max-width: 700px) {
                max-height: 460px
              }
            
        }
        &:hover{
            opacity: .5;
            transition: 1s;
        }
    }
}