.paquete{
    padding-bottom: 50px;
    .carta{
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        img{
            width: 300px ;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        }
    }
}