.paquete{
    padding-bottom: 50px;
    .carta{
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        img{
            width: 300px ;
        }
    }
}